h1 {
    text-align: center;
    color: skyblue;
}
p{
    text-align: center;
}
.about{
    color: skyblue;
}
.exp{
    color: skyblue;
}
.cont{
    color: skyblue;
}
.skills{
    background-color: skyblue;
}
.first-btn{
    background-color: blue;
    color: white;
}
.second-btn{
    background-color: red;
    color: white;
}
